/* reset common stuff first */

* {
  box-sizing: border-box;
}

html, body, fieldset, form, div {
  margin: 0;
          padding: 0;
}

address, blockquote, dl, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
  margin: 1.5rem 0;
  padding: 0;
}

html, body, fieldset, form, input, select, textarea {
  font: 100%/120% 'Open Sans', Roboto, Ubuntu, Helvetica, Arial, sans-serif;
}

a:hover, a:active {
  outline: none;
}

li {
  list-style: none;
}

/* FontAwesome bits */

@font-face {
  font-family: 'FontAwesome';
  src:  url('fonts/fontawesome-webfont.woff?v=4.6.3') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-fw {
  margin-left: -0.3rem;
  text-align: center;
  width: 2.1rem;
}

.fa-calendar:before {
  content: "\f073";
}

.fa-circle:before {
  content: "\f111";
}

.fa-circle-o:before {
  content: "\f10c";
}

.fa-envelope-o:before {
  content: "\f003";
}

.fa-github:before {
  content: "\f09b";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-map-marker:before {
  content: "\f041";
}

.fa-phone:before {
  content: "\f095";
}

.fa-wordpress:before {
  content: "\f19a";
}

/* actual styles for the page */

body {
  background: black;
  color: white;
}

a {
  color: #bbd9f4;
  color: rgba(10, 138, 255, 0.69);
}

.container {
  background: url("images/paper.jpg");
  background-color: white;
  color: black;
  margin: 4rem auto;
  min-height: 60rem;
  padding: 6rem 4rem;
  width: 70rem;
}

.stripe {
  background: url("images/stripe.png");
  background-repeat: repeat-x;
  background-size: 91px 6px;
  height: 6px;
  margin: -5.6rem -4rem 5rem;
}

.content {
  display: flex;
}

.column-left {
  margin-right: 4rem;
  width: 60%;
}

.column-right {
  width: 40%;
}

header {
  margin-bottom: 1.5rem;
  position: relative;
}

header > h1 {
  font-size: 3.57rem;
  margin-top: 0;
}

header > h2 {
  color: #3f0e95;
}

.contact {
  display: flex;
  width: 60%;
}

.contact .column-left {
  margin-right: 0;
  width: 50%;
}

.contact .column-right {
  width: 50%;
}

.contact ul {
  margin: 0;
}

.contact li {
  margin: 0.6rem 0;
}

.avatar {
  border-radius: 50%;
  box-shadow: 0 0 0 5px #fff, 0 0 0 6px #ccc;
  position: absolute;
  right: 5rem;
  top: -2rem;
  width: 14rem;
}

section > h1 {
  border-bottom: 3px solid #3f0e95;
  color: #3f0e95;
  font-size: 2.2rem;
  margin-bottom: 0.7rem;
  margin-top: 3.5rem;
  padding-bottom: 0.8rem;
}

.life-philosophy p {
  font-family: 'Kalam', 'Times New Roman', 'Times', serif, cursive;
  font-size: 1.8rem;
  font-style: italic;
  color: #3f0e95;
  line-height: 110%;
  margin-top: 1.1rem;
}

.bio p {
  margin: 1rem 0;
}

.languages ul {
  margin-top: 0;
}

.languages li {
  border-bottom: 1px dotted #3f0e95;
  display: flex;
  font-size: 105%;
  font-weight: bold;
  padding: 0.8rem 0;
}

.languages li:last-child {
  border-bottom: none;
}

.languages .language {
  margin: 0;
  width: 30%;
}

.languages .rating {
  text-align: right;
  width: 70%;
}

.languages .fa {
  color: #3f0e95;
}

.tags span {
  border: 1px solid #3f0e95;
  border-radius: 6px;
  display: inline-block;
  padding: 0.3rem 0.5rem;
  margin-bottom: 0.5rem;
}

.education-experience {
  margin: -0.8rem 0 0;
}

.education-experience li {
  border-bottom: 1px dotted #3f0e95;
  padding: 1.8rem 0;
}

.education-experience li:last-child {
  border-bottom: none;
}

.education-experience h2 {
  font-size: 1.35rem;
  font-weight: normal;
  margin: 0;
}

.education-experience h3 {
  color: #3f0e95;
  font-size: 1.1rem;
  margin: 0.7rem 0 0;
}

.education-experience .period-place {
  display: flex;
}

.education-experience .period {
  margin: 0.4rem 0 0;
  width: 55%;
}

.education-experience .place {
  margin: 0.4rem 0 0;
  width: 45%;
}

.education-experience .fa {
  margin-left: 0.1rem;
  margin-right: 0.3rem;
}

.education-experience .period span, .education-experience .place span {
  font-size: 90%;
}

.education .period {
  width: 100%;
}
